{
  "presets": [
    ["es2015", {
      "es2015": {
        "loose": true,
        "modules": false
      }
    }]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-decorators"
  ]
}
